html
{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after

{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

body
{
    
    font-family: 'Poppins', sans-serif;
    font-size: $bodyFont;
    line-height: 1.3;
}

.container

{
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint-up(large)
    {
        max-width: 53.75rem;
        margin: 0 auto;
    }
}

//flex box

.flex
{
    display: flex;
}

.flex-jc-c
{
    justify-content: center;
}

.flex-jc-sb
{
    justify-content: space-between;
}

.flex-ai-c

{
    align-items: center;
}


a, a:hover, a:focus, a:active, a:visited
{
    text-decoration: none;
}



//button style

button
{   
    
    display: block;

    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1rem;

    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0.9375rem 2.1875rem;
    background-color: #5f5aff;
    border: 4px solid #9595ff;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: opacity 200ms ease-in-out;



    &:hover
    {
        opacity: 0.9;
    }
img 
{

    width: 1rem;
}
}



//headings


h1,h2,h3
{
    margin-top: 0;
    margin-bottom: 0;
}