.result
{
    span
    {
        color: #5f5aff;
        font-size: 1.125rem;
        @include breakpoint-up(large)
        {
            font-size: 1.375rem;
        }
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

    }
}